/** CSS Resets **/
h3, a, button {
	margin: 0;
	padding: 0;
}
button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	-webkit-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
body {
	font-size: 16px;
	font-family: "Roboto", "Open Sans", sans-serif;
	background-color: #F5FFFA;
	color: rgba(0,0,0,0.8);
}
* {
	box-sizing: border-box;
}
h3 {
	margin-top: 0.75em;
	margin-bottom: 0.625em;
}
a.button {
	text-decoration: none;
}

.button {
	display: inline-block;
	font-size: 0.875em;
  	padding: 0.5em 1em;
  	margin: 0.125em ;
  	background-color: #d32f2f;
  	color: #fff;
  	border-radius: 0.1875em;
  	cursor: pointer;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
}
.button:hover, .button:focus {
	box-shadow: 0 4px 2px -2px #d32f2f, 0 -2px 1px -2px #d32f2f;
	background-color: rgba(255,255,255,0.8);
	color: #000000;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
.button:active {
	box-shadow: inset 0 -3px 1px -2px #d32f2f, inset 0 2px 2px -2px #d32f2f;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	outline: none;
}
.button:focus {
	outline: none;
}
.button-sm {
	font-size: 0.625em;
	padding: 0.375em 0.625em;
}
.button-md {
	font-size: 1.0625em;
	padding: 0.625em 1.0625em;
}
.button-lg {
	font-size: 1.25em;
	padding: 0.875em 1.25em;
}