/** CSS Resets **/
h1, h2, h3, h4, h5, p, a, button, ul, li {
	margin: 0;
	padding: 0;
}
/** ---- END Reset ----- */
* {
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
	background-color: #F5FFFA;
}
a {
	text-decoration: none;
}
/** CARD */
.container {
	width: 25%;
	margin: 0 auto;
}
.card {
	font-size: 16px;
	line-height: 1.6em;
	width: 100%;
	padding: 2.5em;
	border: 1px solid #D3D3D3;
	background-color: #fafafa;
}
.card-header {
	background-color: #00b8d4;
	text-align: center;
	padding: 0.5em;
	border-radius: 3px;
}
.card-header img {
	width: 100%;
	height: 100%;
	border: 3px solid #eeeeee;
	border-radius: 50% 50%;
}
.card-header h1, .card-body h2 {
	word-wrap: break-word;
}
.card-header h1 {
	color: #fafafa;
	font-size: 2em;
	line-height: 1.2em;
	margin-bottom: 0.3125em;
}

.card-body {
	padding: 2em 0;
	text-align: justify;
}
.card-body h2 {
	color:#00b8d4;
	font-size: 1.375em;
	margin-bottom: 0.625em;
	text-align: center;
}
.card-body p {
	color: #9e9e9e;
}
.card-footer {
	padding-top: 0.75em;
	border-top: 1px dotted #e0e0e0;
}
.card-footer a {
	color: #DAA520;
}
.card-footer a:hover {
	color: #BC8F8F;
}