/** CSS Resets **/
h3, a, button, ul, li {
	margin: 0;
	padding: 0;
}
button {
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	-webkit-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/** ---- END Reset ----- */

body {
	font-size: 18px;
	font-family: Helvetica;
	background-color: #F5FFFA;
	color: rgba(0,0,0,0.8);
}
* {
	box-sizing: border-box;
}
a.button {
	text-decoration: none;
}
input[type="text"] {
	border: 0;
}
/** CALCULATOR */
.calculator {
	width: 340px;
	min-width: 300px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
.calculator:after {
	content: "";
	display: block;
	clear: both;
}
.calculator ul li {
	list-style: none;
}
.calculator button {
	display: inline-block;
	font-size: 1.1em;
  	padding: 1em;
  	background-color: rgba(255,255,255,0.9);
  	color: #666666;
  	cursor: pointer;
}
/**
.calculator button:hover, .calculator button:focus {
	box-shadow: 2px 2px 2px -2px #666666;
	background-color: rgba(255,255,255,0.8);
}
.calculator button:active {
	box-shadow: inset 2px 2px 1px #D3D3D3, inset -2px -2px 1px #D3D3D3;
	outline: none;
}*/

.calculator button:focus {
	outline: none;
}
.topOperators li > button {
	width: 25%;
	float: left;
}
.topOperators li > button:first-child {
	background-color: rgba(220,20,60,1);
	color: #F8F8F8;
}
.topOperators li > button:first-child:hover {
	background-color: rgba(220,20,60,0.7);
	color: #FFFFFF;
}
.operators button:focus,
.topOperators li > button:first-child:focus, 
.topOperators li > button:last-child:focus,
.rightOperators li > button:last-child:focus {
	box-shadow: inset 2px 2px rgba(255,255,255,0.9), inset -2px -2px rgba(255,255,255,0.9);
}
.topOperators li > button:last-child {
	background-color: #778899;
}
.topOperators li > button:last-child:hover {
	background-color: rgba(119,136,153,0.8);
}
.rightOperators {
	position: relative;
	float: left;
	width: 25%;
}
.rightOperators li > button {
	display: block;
	width: 100%;
}
.rightOperators li > button:last-child {
	position: absolute;
	top: 50;
	height: 100%;
	font-size: 1.1em;
	background-color: #FFD700;
}
.rightOperators li > button:last-child:hover {
	background-color: rgba(255,215,0,0.8);
}
.calculatorOutput > input {
	width: 100%;
	height: 90px;
	text-align: right;
	padding: 0.277777778em;
	font-size: 2.2em;
	color: rgba(0,0,0,0.7);
	background-color: rgba(0,0,0,0.05);
}
.calculatorOutput > input:focus {
	outline: none;
}
.operators button {
	background-color: #1E90FF;
	color: #FFFFFF;
}
.operators button:hover {
	background-color: rgba(30,144,255,0.8);
	color: rgba(255,255,255,0.8);
}
.numberButtons {
	float: left;
	width: 75%;
}
.numberButtons li:after {
	content: "";
	display: block;
	clear: both;
}
.numberButtons li button {
	width: 33.333333333%;
	float: left;
	line-height: 1.2em;
}
.numberButtons li:last-child > button:last-child {
	width: 66.666666667%;
	text-align: left;
	padding-left: 1.85em;
}
.numberButtons button:hover {
	background-color: rgba(0,0,0,0.1);
	color: #000000;
}
.numberButtons button:focus {
	box-shadow: inset 2px 2px rgba(0,0,0,0.1), inset -2px -2px  rgba(0,0,0,0.1);
	border-radius: 2px 2px;
}
