<!DOCTYPE html>
<html>
<head>
	<title>Appointment Scheduling</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="form.css">
</head>
<body>
	<header><a href="../../index.html"><h1>Back to Projects</h1></a></header>
	<div class="appointment-container">
		<div class="appointment">
			<div class="appointment-header">
				<h1>Schedule an Appointment</h1>
			</div>
			<form class="appointment-form">
				<div class="col6">
					<label for="email">Email *</label>
					<input type="email" name="email" id="email" autofocus>
				</div>
				<div class="col6">
					<label for="phone_number">Phone Number *</label>
					<input type="text" name="phone_number" id="phone_number">
				</div>
				<div class="col12">
					<label for="message">Message *</label>
					<textarea name="message" id="message"></textarea>
				</div>
				<div class="row">
					<div class="col4">
						<label for="schedule-date">Date *</label>
						<input type="date" name="schedule_date" id="schedule-date">
					</div>
					<div class="col4">
						<label for="schedule-time">Time *</label>
						<input type="time" name="schedule_time" id="schedule-time">
					</div>
					<div class="col4">
						<label for="schedule-timezone">Timezone *</label>
						<select>
							<option>GMT -3</option>
							<option>GMT</option>
							<option>GMT +3</option>
						</select>
					</div>
				</div>
				<div class="col6 right">
					<button type="submit">Schedule Appointment</button>
				</div>	
			</form>
		</div>
	</div>
</body>
</html>