<!DOCTYPE html>
<html>
<head>
	<title>Billing and Shipping Information</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="form.css">
</head>
<body>
	<header><a href="../../index.html"><h1>Back to Projects</h1></a></header>
	<div class="billing-container">
		<div class="billing">
			<div class="billing-header">
				<h2>Checkout</h2>
				<span>Already have an account? <a href="login.html">Sign In</a></span>
			</div>
			<form class="billing-form">
				<fieldset>
					<legend>BILLING DETAILS</legend>
					<div class="col6">
						<label for="first-name">First Name *</label>
						<input type="text" name="first_name" id="first-name" autofocus>
					</div>
					<div class="col6">
						<label for="last-name">Last Name *</label>
						<input type="text" name="last_name" id="last-name">
					</div>
					<div class="col12">
						<label for="address">Address *</label>
						<input type="text" name="address" id="address">
					</div>
					<div class="col6">
						<label for="country">Country *</label>
						<input type="text" name="country" id="country">
					</div>
					<div class="col6">
						<label for="city">City *</label>
						<input type="text" name="city" id="city">
					</div>
					<div class="col12">
						<label for="same-for-billing">
							<input type="checkbox" value="true" id="same-for-billing" name="same_for_billing"> My billing information is the same for shipping.
						</label>
					</div>
				</fieldset>
				
				<fieldset>
					<legend>SHIPPING DETAILS</legend>
					<div class="col6">
						<label for="first-name">First Name *</label>
						<input type="text" name="first_name" id="first-name" autofocus>
					</div>
					<div class="col6">
						<label for="last-name">Last Name *</label>
						<input type="text" name="last_name" id="last-name">
					</div>
					<div class="col12">
						<label for="address">Address *</label>
						<input type="text" name="address" id="address">
					</div>
					<div class="col6">
						<label for="country">Country *</label>
						<input type="text" name="country" id="country">
					</div>
					<div class="col6">
						<label for="city">City *</label>
						<input type="text" name="city" id="city">
					</div>
				</fieldset>

				<fieldset>
					<div class="col6 right">
						<button type="submit">Proceed to Checkout</button>
					</div>	
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>