/** RESET */
html, body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="range"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	box-sizing: border-box;
	background-clip:padding-box;
	border-radius:0;
	-webkit-appearance:none;
	background-color:#fff;
	color:#000;
	outline:0;
	margin:0;
	padding:0;
	text-align: left;
	font-size:1em;
	height: 1em;
	vertical-align: middle;
}
hgroup {
	display: block;
}
button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	-webkit-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
/** End Form Reset */

* {
	box-sizing: border-box;
}
body {
	background-color: rgba(230,230,250,0.3);
	font-size: 16px;
	font-family: "Roboto", "Open Sans", sans-serif;
}
header {
	height: 5em;
	background-color: #090707;
	padding: 0.625em;
}
header a {
	text-decoration: none;
	color: #FAFAFA;
}
/** LOGIN FORM */
.login {
	width: 30%;
	margin: 5% auto;
	padding: 2.5em;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-top: 5px solid #00BFFF;
	color: #666666;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.login h1 {
	display: inline-block;
}
.login span {
	display: inline-block;
	float: right;
	font-size: 0.75em;
}
.login span a {
	color: #666666;
}
.login-header {
	padding-bottom: 0.75em;
	margin-bottom: 0.75em;
	border-bottom: 1px dotted #e0e0e0;
}
.login-header:after {
	content: "";
	display: block;
	clear: both;
}
.login-header span {
	padding-top: 20px;
}
.login-form input,
.login-form button {
	display: block;
	width: 100%;
}
.login-form label {
	display: inline-block;
}
.login-form label:after {
	content: "";
	display: block;
	clear: both;
}
.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="date"] {
	width: 100%;
	height: 2.5em;
	padding: 0.3125em;
	margin-top: 0.3125em;
	margin-bottom: 0.9375em;
	font-size: 1.25em;
	color: rgba(0,0,0,0.6);
	border: 1px solid #AFE9FF;
	border-radius: 3px;
}
.login-form button {
	height: 3.6em;
	font-size: 1.2em;
	cursor: pointer;
	background-color: #00BFFF;
	color: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #FFFFFF;
	box-shadow: 2px 2px 5px #AFE9FF;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
.login-form button:hover, .login-form button:focus {
	background-color: rgba(0,191,255,0.6);
	box-shadow: none;
	border: none;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
.login-form button:active {
	box-shadow: 2px 2px 5px #AFE9FF;
	border: 1px solid #FFFFFF;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	outline: none;
}
.login-form button:focus {
	outline: none;
}

/** End Login Form */

/** Sign Up Form */
.signup {
	width: 30%;
	margin: 5% auto;
	padding: 2.5em;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-top: 5px solid #00BFFF;
	color: #666666;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.signup h1 {
	display: inline-block;
}
.signup span {
	float: right;
	font-size: 0.75em;
}
.signup-form span {
	margin-bottom: 0.25em;
	font-style: italic;
}
.signup span a {
	color: #666666;
}
.signup-header {
	padding-bottom: 0.75em;
	margin-bottom: 0.75em;
	border-bottom: 1px dotted #e0e0e0;
}
.signup-header:after {
	content: "";
	display: block;
	clear: both;
}
.signup-header span {
	padding-top: 20px;
}
.signup-form input,
.signup-form button {
	display: block;
	width: 100%;
}
.signup-form label {
	display: inline-block;
}
.signup-form label:after {
	content: "";
	display: block;
	clear: both;
}
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="text"],
.signup-form input[type="date"] {
	width: 100%;
	height: 2.5em;
	padding: 0.3125em;
	margin-top: 0.3125em;
	margin-bottom: 0.9375em;
	font-size: 1.25em;
	color: rgba(0,0,0,0.6);
	border: 1px solid #AFE9FF;
	border-radius: 3px;
}
.signup-form button {
	height: 3.6em;
	font-size: 1.2em;
	cursor: pointer;
	background-color: #00BFFF;
	color: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #FFFFFF;
	box-shadow: 2px 2px 5px #AFE9FF;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
.signup-form button:hover, .signup-form button:focus {
	background-color: rgba(0,191,255,0.6);
	box-shadow: none;
	border: none;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
.signup-form button:active {
	box-shadow: 2px 2px 5px #AFE9FF;
	border: 1px solid #FFFFFF;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	outline: none;
}
.signup-form button:focus {
	outline: none;
}
/** End Sign Up Form */

/** Search Form*/
.search {
	position: relative;
	width: 100%;
	height: 450px;
	padding: 2.5em;
	background-color: #B22222;
}
.search-form {
	width: 50%;
	height: 70px;
	position: absolute;
	top: 60%;
	left: 25%;
	padding: 4px;
}
.search-form input[type="search"] {
	width: 50%;
	height: 100%;
	padding: 0.3125em;
	font-size: 1.2em;
	color: rgba(0,0,0,0.6);
	border-radius: 20px 0 0 20px;
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
	border-right: 1px solid rgba(112,128,144,0.8);
}
.search-form select {
	width: 30%;
	height: 100%;
	padding: 0.3125em;
	font-size: 1.2em;
	color: rgba(0,0,0,0.6);
	background-color: #FAFAFA;
	border: 2px solid #FFFFFF;
}
.search-form input[type="submit"] {
	width: 120px;
	cursor: pointer;
	height: 100%;
	padding: 0.3125em;
	font-size: 1.2em;
	text-align: center;
	background-color: #00BFFF;
	border-radius: 0 20px 20px 0;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
.search-form input[type="submit"]:hover, .search-form input[type="submit"]:focus {
	background-color: #EFDC05;
	color: #000000;
	border: none;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
.search-form button:focus {
	outline: none;
}
/** End search */

/** Questionnaire */
.questionnaire {
	width: 50%;
	margin: 2.5em auto;
}
.questionnaire:after {
	content: "";
	display: block;
	clear: both;
}
.question {
	width: 100%;
	margin: 5% auto;
	padding: 2.5em;
	background-color: #FFFFFF;
	border-radius: 5px;
	border-left: 5px solid #00BFFF;
	color: #666666;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.question-title h3 {
	color: rgba(178,34,34,0.6);
	font-size: 1.6em;
}
.options label {
	display: block;
	width: 100%;
	padding: 0.625em 0;
	font-size: 1.125em;
}
.options label input[type="radio"] {
	margin-right: 0.9375em;
	border: 2px solid #AFE9FF;
	background-color: #fff;
	width: 1.25em;
    height: 1.25em;
    border-radius: 50% 50%;
    transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
.options label input[type="radio"]:hover,
.options label input[type="radio"]:focus {
	margin-right: 0.8125em;
	border: 2px solid #AFE9FF;
	background-color: #00BFFF;
	width: 1.25em;
    height: 1.25em;
    border-radius: 50% 50%;
    transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
.questionnaire-form input[type="text"] {
	width: 40%;
	height: 2.5em;
	padding: 0.3125em;
	margin-top: 0.3125em;
	margin-bottom: 0.9375em;
	font-size: 1em;
	color: rgba(0,0,0,0.6);
	border: 1px solid #AFE9FF;
	border-radius: 3px;
}
.questionnaire-form button {
	float: right;
	min-width: 6.25em;
	height: 2.5em;
	font-size: 1.2em;
	cursor: pointer;
	background-color: #00BFFF;
	color: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #FFFFFF;
	box-shadow: 2px 2px 5px #AFE9FF;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
.questionnaire-form button:hover, .login-form button:focus {
	background-color: rgba(0,191,255,0.6);
	box-shadow: none;
	border: none;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
}
.questionnaire-form button:active {
	box-shadow: 2px 2px 5px #AFE9FF;
	border: 1px solid #FFFFFF;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	outline: none;
}
.questionnaire-form button:focus {
	outline: none;
}
.question-title {
	padding-bottom: 1.5em;
}

/** Color Builder */
.color-builder {
	width: 30%;
	margin: 5% auto;
	padding: 2.5em;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #666666;
	box-shadow: 0 6px 10px 2px rgba(0,0,0,0.25);
}
.color-builder h1 span:first-child {
	color: #FF0000;
}
.color-builder h1 span:nth-child(2) {
	color: #00FF00;
}
.color-builder h1 span:nth-child(3) {
	color: #0000FF;
}
.color-builder h1 span:nth-child(4) {
	color: #490a3d;
}
.color-builder h1 span:nth-child(5) {
	color: #bd1550;
}
.color-builder h1 span:nth-child(6) {
	color: #e97f02
}
.color-builder h1 span:last-child {
	color: #f8ca00;
}
.color-builder-form textarea,
.color-builder-form input,
.color-builder-form button,
.color-builder-form label {
	display: block;
	width: 100%;
}
.color-builder-form textarea {
	height: 9em;
	max-width: 100%;
	margin: 1em 0;
	font-size: 1.25em;
	color: rgba(0,0,0,0.6);
	border: 1px solid #eeeeee;
	border-radius: 3px;
}
.color-builder-form label {
	margin-bottom: 1em;
}
.color-builder-form input[type="range"] {
	margin-bottom: 1.25em;
}
.color-builder-form input[type="range"]::-webkit-slider-runnable-track {
	height: 10px;
	border: none;
	border-radius: 3px;
}
.color-builder-form input[type="range"].red-range::-webkit-slider-runnable-track {
	background-image: linear-gradient(90deg, #FFFFFF, #FF0000);
}
.color-builder-form input[type="range"].green-range::-webkit-slider-runnable-track {
	background-image: linear-gradient(90deg, #FFFFFF, #00FF00);
}
.color-builder-form input[type="range"].blue-range::-webkit-slider-runnable-track {
	background-image: linear-gradient(90deg, #FFFFFF, #0000FF);
}
.color-builder-form input[type="range"].alpha-range::-webkit-slider-runnable-track {
	background-image: linear-gradient(90deg, #FFFFFF, #000000);
}
.color-builder-form input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: rgba(211,211,211,1);
	height: 40px;
	width: 15px;
	border: 1px solid white;
	border-radius: 5px;
	margin-top: -15px;
}