<!DOCTYPE html>
<html>
<head>
	<title>User Login</title>
	<link rel="stylesheet" type="text/css" href="form.css">
</head>
<body>
	<div class="container">
		<div class="login">
			<div class="login-header">
				<h1>Login</h1>
				<span><a href="#">Create an Account</a></span>
			</div>
			<form class="login-form">
				<label for="email">Email: *</label>
				<input type="email" class="text-input" name="email" id="email" autofocus>
				<label for="password">Password: *</label>
				<span><a href="#">Forgot?</a></span>
				<input type="password" class="text-input" name="password" id="password">
				<button type="submit">Login</button>
			</form>
		</div>
	</div>
</body>
</html>