<!DOCTYPE html>
<html>
<head>
	<title>User Login</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="form.css">
</head>
<body>
	<header><a href="../../index.html"><h1>< Back to Projects</h1></a></header>
	<div class="container">
		<div class="questionnaire">
			<div class="questionnaire-title">
				<h1>What Football Fun Are You?</h1>
			</div>
			<form class="questionnaire-form">
				<div class="question">
					<div class="question-title">
						<h3>What is your favorite English Premier League club?</h3>
					</div>
					<div class="options">
						<label><input type="radio" value="Arsenal FC" name="club" id="club1">Arsenal FC</label>
						<label><input type="radio" value="Leceister FC" name="club" id="club2">Leceister FC</label>
						<label><input type="radio" value="Manchester City" name="club" id="club3">Manchester City</label>
						<label><input type="radio" value="Manchester United" name="club" id="club4">Manchester United</label>
						<label><input type="radio" value="other" name="club" id="club5">Other</label>
						<input type="text" name="other_club" placeholder="Specify other club">
					</div>
				</div>
				<button type="submit">Submit</button>
			</form>
			
		</div>
	</div>
</body>
</html>