<!DOCTYPE html>
<html>
<head>
	<title>Search Form</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="form.css">
</head>
<body>
	<header><a href="../../index.html"><h1>Back to Projects</h1></a></header>
	<div class="container">
		<div class="search">
			<form class="search-form">
				<input type="search" name="s" id="s" autofocus placeholder="What do you want to find?"><select>
					<option>Find in...</option>
					<option>Laptops</option>
					<option>Desktops</option>
					<option>Servers</option>
					<option>Workstations</option>
					<option>Printers and Photocopiers</option>
					<option>Accessories</option>
				</select><input type="submit" value="Search">
			</form>
		</div>
	</div>
</body>
</html>